{
  "version": "2020-03-26",
  "operation": "UpdateItem",
  "key": {
    "id": { "S": "${context.arguments.input.id}" }
  },
  "update": {
    "expression": "SET #votesField = #votesField + :i",
    "expressionNames" : {
      "#votesField" : "votes"
    },
    "expressionValues": {
      ":i": { "N": 1 }
    }
  }
}